# Framework Principal
django
djangorestframework

# Conexão com Banco de Dados (CockroachDB)
django-cockroachdb
psycopg2-binary

# Ferramentas de Teste
pytest
pytest-django
pytest-cov
pytest-mock

# Testes de Mutação
mutmut